<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
  body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
  
  body, html {
    height: 100%;
    line-height: 1.8;
  }
  .w3-bar .w3-button {
    padding: 16px;
  }
  </style>
<body>
  <div>
    <% include adminheader.html %>
  </div>
  <br><br><br>
  <h1  style= "color: rgb(22, 111, 167); text-align: center;">Add Product</h1>
  <div class="container">
    
    <form action="/admin/addProduct" method="POST">
      <div class="form-group">
        <label for="">Name*</label>
        <input class="form-control" type="text" name="name" required autocomplete="off">
      </div>
      <div class="form-group">
        <label for="">Description*</label>
        <input class="form-control" type="text" name="description" required autocomplete="off">
      </div>
      <div class="form-group">
        <label for="">Price*</label>
        <input class="form-control" type="number" name="price" required autocomplete="off">
      </div>
      <!-- Add file input field for image upload -->
      <div class="form-group">
        <label for="">Image*</label>
        <input type="file" name="file">
      </div>
      <button class="btn btn-primary" type="submit" >Add Product</button>
    </form>
  </div>

</body>

</html>