<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>Grocery APP</title>
  <meta charset="utf-8">
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript"> 
    function preventBack() {
      window.history.forward();
    } setTimeout("preventBack()", 0);
    window.onunload = function () { null };
  </script>
  <style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Raleway", sans-serif
    }

    body,
    html {
      height: 100%;
      line-height: 1.8;
      overflow: hidden;
    }

    .signup_container {
      height: 470px;
      width: 370px;
      justify-content: center;
      align-items: center;
      background-color: #30302b;
      border-radius: 2px;
      position: relative;
      box-shadow: 0 0 2px gray;
      top: 10vh;
      left: 15vh;
      z-index: 1;
      border-radius: 7%;
    }

    .form-group {
      color: white;
      width: 100%;
      /* border-radius: none; */
    }

    .form-grid {
      width: 100%;
      display: grid;
      grid-template-rows: auto auto auto auto;
      align-items: center;
      grid-gap: 2px;
    }

    .btn {
      height: 7vh;
      width: 30vh;
      margin-left: 12vh;
      margin-top: 2vh;
      font-size: 18px;
      background-color: #3a6b35;
      color: whitesmoke;
      text-align: center;
      border-radius: 2px solid green;
    }

    .btn:hover {
      background-color: #ffc300;
      color: black;
    }

    .container {
      margin: 0;
      padding: 0;
    }

    .background-img img {
      width: 100%;
      height: 92vh;
      padding: 0;
      margin: 0;
      position: absolute;
    }

    .form-control {
      width: 100%;
      color: black;
      font-size: 14px;
      border-radius: 3px;
    }

    .form-container {
      height: 470px;
      width: 350px;
      padding-left: 4px;
      padding-right: 4px;
      padding-top: 2px;
      padding-bottom: 2px;
      margin-left: 9px;
      margin-right: 9px;
      display: grid;
      grid-template-rows: 15% 70% 15%;
    }

    /*navbar*/
    * {
      margin: 0;
      padding: 0;
      font-family: 'Poppins', sans-serif;
      box-sizing: border-box;
    }

    #header {
      height: 70px;
      width: 100%;
    }

    .navbar {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      height: 70px;
    }

    .logo-container {
      display: flex;
    }

    .logo {
      max-width: 55px;
      max-height: 55px;
    }

    nav ul li {
      margin: 20px;
    }

    nav ul li :last-child {
      margin-right: 0;
    }

    nav ul li a {
      text-decoration: none;
    }


    nav ul {
      list-style-type: none;
      display: flex;
      margin: 0;
      padding: 0;
      justify-content: center;

    }

    .container {
      padding: 10px 10%;
    }

    .s-container img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      position: absolute;
      z-index: -1;
    }

    nav {
      display: grid;
      align-items: center;
      justify-content: space-between;
      grid-template-columns: 30% 70%;
      background-color: white;
    }

    .sign-container {
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100vw;
    }

    .main-signup-container {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-rows: 73px 3px auto;
    }
  </style>

<body>
  <div class="main-signup-container">
    <div id="header">

      <nav class="navbar">
        <div class="logo-container">
          <a href="/index"> <img src="/images/FreshCart_Logo.jpg" class="logo" />
            <span class="company-name"
              style="color:#3a6b35;text-decoration: none;font-size:18px;margin-right:80px;"><strong>FreshCart</strong></span>
          </a>
        </div>
        <ul>
          <li><a href="/index/login"
              style="text-decoration:none;color: green;padding-left:143vh; font-size: 16px; position: relative;padding-right:10px;"><strong>LOGIN</strong>
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                class="bi bi-box-arrow-in-right" viewBox="0 0 14 16">
                <path fill-rule="evenodd"
                  d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z" />
                <path fill-rule="evenodd"
                  d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
              </svg> </a></li>
        </ul>
      </nav>

    </div>
    <div class="space" style="background-color: #ffc300;height:3px;"></div>
    <div class="s-container" style="width: 100%;height:100vh;">
      <% if(message.length){ %>
        <div style="color: brown; text-align: center;font-size:large ;">
          <%= message %>
        </div>
        <% } %>
          <form action="/signup/adduser" method="POST">

            <img src="/images/gross2.jpg" />
            <div class="signup_container">
              <div class="form-container">
                <h1
                  style="color: whitesmoke; text-align: center; font-size: 24;font-family:'Times New Roman', Times, serif;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor"
                    class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                    <path fill-rule="evenodd"
                      d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                  </svg> Signup
                </h1>
                <form>
                  <div class="form-grid">
                    <div class="form-group">
                      <label for="">Name*</label>
                      <input class="form-control" type="text" name="name" placeholder="Enter your Name">
                    </div>
                    <div class="form-group">
                      <label for="">Email*</label>
                      <input class="form-control" type="email" name="email" placeholder="Enter your Email">
                    </div>
                    <div class="form-group">
                      <label for="">Phone No*</label>
                      <input class="form-control" type="number" name="phoneno" placeholder="Enter your phonenumber">
                    </div>
                    <div class="form-group">
                      <label for="">Address*</label>
                      <input class="form-control" type="text" name="address" placeholder="Enter your address">
                    </div>
                  </div>

                  <button class="btn" type="submit">SignUp</button>
                </form>
              </div>
            </div>
    </div>
  </div>
  </div>
</body>

</html>