<!DOCTYPE html>
<html>
  <title>Grocery APP</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script  type="text/javascript"> 
  function preventBack() {
     window.history.forward(); 
     } setTimeout("preventBack()", 0); 
     window.onunload = function () { null };
 </script>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
  background-color:#b7bf96;
}
</style>

<body>
  <div>
    <% include adminheader.html %>
  </div>
  </body>
  </html>
  <div><h2  style= "color:white; text-align: center;font-family:Arial, Helvetica, sans-serif;margin-top:4vh">Display User Details</h2></div>
 <div >
<table class = "table table-striped"  width='50' height = "50" border="1">
  <thead class="thead-dark"> <tr>
           <th scope="col">Name</th>
            <th scope="col">Email Id</th>
            <th scope="col">Address</th>
            <th scope="col">Contact No</th>
         </tr></thead>
         <% userdata.forEach(function(user){ %>
            <tr>
               <td  scope="row"><%= user.name %></td>
               <td  scope="row"><%= user.email %></td>
               <td  scope="row"><%= user.address %></td>
               <td  scope="row"><%= user.phone_no %></td>
            </tr>
         <% } )%>
           
         
    </table>
 
    </div>

   
     


